<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994814945535-gs1lu0776620revm8en0r8mg4c1sk86p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994814945535-gs1lu0776620revm8en0r8mg4c1sk86p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>994814945535-2kcof6e1f6io6tdlh4nbbqots2prhhhq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9w3qZ99e7xNJEsj5pBxJ8wyhgg4mFx74</string>
	<key>GCM_SENDER_ID</key>
	<string>994814945535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.charjebeta</string>
	<key>PROJECT_ID</key>
	<string>charje-92986</string>
	<key>STORAGE_BUCKET</key>
	<string>charje-92986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994814945535:ios:228a7a643647718d3dc4ca</string>
</dict>
</plist>